spring:
  profiles: dev
  application:
    name: crm-service
server:
  port: 9094
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:9090/eureka/
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dt_crm
    username: root
    password: root
  mybatis:
    typeAliasesPackage: com.dt.pojo
    mapper-locations: "classpath*:mapper/*.xml"

