<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.dt.pojo.CrmUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

    <select id="findList" resultMap="BaseResultMap">
        SELECT * FROM crm_user WHERE user_name LIKE CONCAT('%',#{userName},'%' )
    </select>

    <select id="findByUserName" resultMap="BaseResultMap">
        SELECT * FROM crm_user WHERE user_name = #{userName}
    </select>

    <select id="findRoleIdByUserId" resultType="java.lang.Integer">
        SELECT role_id FROM crm_user_role WHERE user_id = #{userId}
    </select>

</mapper>